<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.dashboard">

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/dashb"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="my.com.tm.dashboard.Starting"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="my.com.tm.dashboard.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="my.com.tm.dashboard.Register"
            android:screenOrientation="portrait"/>
        <activity android:name="my.com.tm.dashboard.EmailVerification" />
        <activity android:name="my.com.tm.dashboard.Start"
            android:screenOrientation="portrait"/>
        <activity android:name="my.com.tm.dashboard.PofileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="my.com.tm.dashboard.ResetPassword"
            android:screenOrientation="portrait"/>
        <activity android:name="my.com.tm.dashboard.LoginActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>